.well-img{
    height:162px;
    width:100%;
}
.top-buffer{
   padding-top:30px;
}
.answer{
    padding: 15px 20px;
    border-radius:10px;
    border:1px solid #bbb;
}
.answer:hover{
    cursor:pointer;
}
.answer-img{
    max-height:320px;
    width:100%;
    overflow:hidden;
    border-radius:10px;
    cursor:pointer;
    margin-bottom:10px;
}
.answer-img img{
    height:auto;
    width:100%;
    border:2px solid black;
}
.image-selected{
    border:3px solid blue;
}
@media screen and (max-width: 540px) {
    .answer{
        height:120px;
    }
}
.answer-img.bg-success{
    border:3px solid blue;
}
.answer-img.bg-danger{
    border:3px solid red;
}